# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
build
dist

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations

# Uploads (user-generated images)
public/uploads

# Archives
*.zip

# Sensitive / local only
*.pem
*.db
dev.db
prisma/*.db
